@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=EB+Garamond:ital,wght@1,800&family=Poppins&display=swap');

.nav_container {
  display: flex;
  background-color: #0C0C0C;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  gap: 15px;
  
}
.logo{
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 2.8rem;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
} 
.nav_list{
    display: flex;
    list-style-type: none;
    width: 80%;
    min-width: fit-content;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.list-item{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: grey;
    
}
.list-item:hover{
    cursor: pointer;
    font-weight: 700;
    color: rgb(194, 187, 187);
    color: white;
    
}

.nav_login{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 20%;
    min-width: fit-content;
    padding: 0px;
    gap: 10px;
}
.divider{
    width: 1px;
    height: 30px;
    background-color: #545454;
}
.nav_login-item{
    text-decoration: none;
    transition: 0.25s ease;
    min-width: fit-content;
}
.nav_login-item:hover{
   border-bottom: 2px solid #DCCA87; 
}

.navbar_smallscreen{
    display: none;
}
.smallscreen_nav_menu{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: var(--color-black);
    width: 100vw;
    height: 80vh;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;

    z-index: 3;
}

.smallscreen_nav_list{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    margin-top: 20vh;
}

.close_icon{
    position: fixed;
    top: 20px;
    right: 20px;
}
.smallscreen_list-item{
    font-family: 'Cormorant Upright', serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-golden);
}
.smallscreen_list-item:hover{
    cursor: pointer;
    font-weight: 700;
    color: rgb(194, 187, 187);
    
}
.ss_btn_login_register{
    color: green;
    font-family: 'Cormorant Upright', serif;
    font-size: 24px;
    font-weight: 700;
}
.ss_btn_boook_table{
    color: rgb(255, 162, 0);
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .nav_container {
        padding: 0.5rem 5vw; 
      }
    .nav_list, .nav_login{
        display: none;
    }
    .navbar_smallscreen{
        display: flex;
    }
    .navbar_smallscreen{
        display: flex;
    }
    
}